@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Movies", "Index", "Movies")</h2>
        
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Rentals", "Index", "rentals")</h2>
        
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customers", "Index", "Customers")</h2>
        
    </div>
</div>